{% extends "base/base.html" %}
{% block start%}
<table style="margin-right: 0px; margin-left: 0px;">
        <tr>
            <th>Product</th>
            <th>quantity</th>
            <th>price</th>
        </tr>
        {% for cart_item in cart_items %}
        <tr>
            <div class="item-desc">
                <td>
                    <figure class="itemside">
                        <div class="aside">
                            <img src="/media/{{cart_item.product.product_images.first.image }}" class="img-sm" />
                        </div>
                        <figcaption class="info">
                            <a href="" class="title text-dark">{{cart_item.product.product_name}}</a>
                            {% if cart_item.size_variant %}
                            <p class="text-muted small">
                                Size:
                                {{cart_item.size_variant.Size_name}}
                                <br />
                                Brand: Gucci
                            </p>
                            {% endif %}
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </td>
                <td>
                    <div class="price-wrap" style="margin-left: 20px;">
                        <var class="price">₹{{cart_item.get_product_price}}.00</var>
                    </div>
                    <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                    <!-- <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light"
                        data-toggle="tooltip"> -->
                        <a href="{%url 'remove_cart' cart_item.uid%}" class="btn btn-light" style="margin-left: 15px;">Remove</a>
                        <i class="fa fa-heart"></i></a>
                </td>
            </div>
        </tr>
        {% endfor %}
        
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Have coupon?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="" placeholder="Coupon code" />
                                    <span class="input-group-append">
                                        <button class="btn btn-primary">
                                            Apply
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">
                                ₹{{cart.get_cart_total}}
                            </dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right"></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right h5">
                                <strong>₹{{cart.get_cart_total}}</strong>
                            </dd>
                        </dl>
                        <hr />
                        <p class="text-center mb-3">
                            <img src="" height="26" />
                        </p>
                    </div>
                </div>

            </aside>

</table>



<div class="card-body border-top">
    <a href="#" class="btn btn-primary float-md-right">
        Make Purchase <i class="fa fa-chevron-right"></i>
    </a>
    <a href="{%url 'index' %}" class="btn btn-light">
        <i class="fa fa-chevron-left"></i> Continue shopping
    </a>
</div>


<div class="alert alert-success mt-3">
    <p class="icontext">
        <i class="icon text-success fa fa-truck"></i> Free
        Delivery within 1-2 weeks
    </p>
</div>
</main>

{%endblock%}